.car-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carLogo img {
  mix-blend-mode: multiply;
  width: 35rem;
}
.car-name {
  font-size: 2.5rem;
  color: #000;
  opacity: 0.5;
}

.car-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.model {
  font-size: 1.8rem;
  font-weight: 650;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mileage {
  color: rgb(153, 53, 53);
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.price {
  text-decoration: underline;
}

.car-details-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-details-wrapper button {
  color: var(--font-col-black);
  font-size: 14px;
  padding: 12px 34px;
  background: transparent;
  border: 2px solid var(--font-col-black);
  transition: 0.5s;
  cursor: pointer;
}

.car-details-wrapper button:hover {
  background: #151515;
  color: #ffffff;
  transition: 0.5s;
}
