.carList-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
}
.carList-title{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}


.carList-car-image img{
    border-radius: 20px;
}

.carList-filter{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carList-search input{
    border: none;
    outline: none;
    background: transparent;
    color: black;
    padding: 5px;
    width: 200px;
    border-bottom: 2px solid black;
}

.carList-show{
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.carList-car{
    width: 45%;
    padding: 2rem;
    border-radius: 10px;
    transition: box-shadow 0.4s;
}

.carList-car:hover{
    box-shadow: 0px 0px 2px 1px rgb(60, 59, 59);
}
