@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,300&display=swap');

:root {
  --font-col-black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(240, 240, 240);
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  background: white;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 500px;
  text-align: center;
}

.login-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.logo {
  width: 150px;
}

.zId-input,.passwd-input{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}

.zId-input span,.passwd-input span{
  color: red;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 20rem;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.login-form input[type="submit"] {
  padding: 10px;
  margin-top: 20px;
  border: none;
  width: 10rem;
  border-radius: 20px;
  background-color: rgb(219, 219, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form input[type="submit"]:hover {
  background-color: #d2ce02;
}



.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar"
    "carInfoPanel"
    "reviews";
}

.navbar {
  grid-area: navbar;
}

.carInfoPanel {
  display: flex;
  min-height: 35rem;
  margin: 2rem;
}

.car {
  min-width: 50%;
}

.carList {
  min-width: 50%;
}

.reviews {
  grid-area: reviews;
}

.navbar,
.car,
.carList,
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


