* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(240, 240, 240);
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  background: white;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 500px;
  text-align: center;
}

.login-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.logo {
  width: 150px;
}

.zId-input,.passwd-input{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}

.zId-input span,.passwd-input span{
  color: red;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 20rem;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.login-form input[type="submit"] {
  padding: 10px;
  margin-top: 20px;
  border: none;
  width: 10rem;
  border-radius: 20px;
  background-color: rgb(219, 219, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form input[type="submit"]:hover {
  background-color: #d2ce02;
}



.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar"
    "carInfoPanel"
    "reviews";
}

.navbar {
  grid-area: navbar;
  border-bottom: 2px solid black;
}

.carInfoPanel {
  display: flex;
  min-height: 35rem;
  padding: 2rem;
}

.car {
  min-width: 50%;
  border: 2px solid black;

}
.carLogo{
   
  mix-blend-mode: multiply;
  top: 150px;
  width: 35em;

/* }
.car-price {
  color: green;
    font-size: 24px;
    position: relative;
    /* margin-top: 10px; */
    /* left: -10px; */
    /* display: flex;
    align-content: end;
    /* right: 10em; */
    /* align-items: stretch;
    justify-content: space-around;Add some space above */
} */ */

.car-container{
  text-align: center;
}

.car-name{    
  text-align: center;
  position: relative;
  /* top: -125px; */
  font-size: 75px;
  opacity: 0.5;
}

.car-price {
  background-color: #d3bbbb; 
  border: 2px solid #2d1111; 
  border-radius: 10px; 
  padding: 10px 20px; 
  display: inline-block; 
  margin-top: 10px;
  color: #000; 
  font-size: 24px;
}

.carList {
  border: 2px solid black;
  min-width: 50%;
}

.reviews {
  grid-area: reviews;
  border: 2px solid black;
}

.navbar,
.car,
.carList,
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


